@using System.Web.Mvc.Html
@model quotetrail.Models.Quote
@{
    ViewBag.Title = "Quotes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/common.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.0.3.min.js"></script>
@{
    <div class="clearfix">
        <div class="wrapper">
            <div class="viewquote">
                <div class="centerbox">
                    <select  name="faculty">
                        <option value="AC">A</option>
                        <option value="AD">B</option>
                        <option value="AM">C</option>
                        <option value="AP">D</option>
                    </select>
                    
                     
                </div>
            </div>
            <div class="addquote">
                <div style="top: 20px; position: relative">
                    <div >
                        <strong class="text">Project Name</strong>
                        @Html.TextBoxFor(quote => quote.ProjectName,new {@class="roundtextfield"})
                        @Html.ValidationMessageFor(quote => quote.ProjectName)
                    </div>
                    <div>
                        <strong class="text">Quote By</strong>
                        @Html.TextBoxFor(quote => quote.QuoteBy,new {@class = "roundtextfield"})
                        @Html.ValidationMessageFor(quote => quote.QuoteBy)
                    </div>
                    <div>
                        <strong class ="text"> Quote</strong>
                        @Html.TextAreaFor(quote => quote.Quotestring,new {@class = "roundtextfield"})
                        @Html.ValidationMessageFor(quote => quote.Quotestring)
                    </div>
                    <div style="padding-top: 10px;">
                        <input type="submit" name="AddQuote" value="Add Quote" class ="button"/>    
                    </div>
                </div>
            </div>
            
        </div>
    </div>
}
